title {
  color: #F7FAF2;
  background-color: #6E1208;
  display: block;
  font-size: 30px:
  font-style: bold;
  text-align: center;
}
#intro {
  font-style: normal;
  font-size: 25px;
  font-family: monospace;
}
h1 {
  color: #F7FAF2;
  background-color: #6E1208;
  font-size: 27px;
  display: block;
  font-style: normal;
  text-align: center;
  border: 10px solid #1C6EA4;
}
h2 {
  color: #F7FAF2;
  background-color: #6E1208;
  font-size: 25px;
  font-style: italic;
  text-align: left;
}
body {
  background-color: #FFFFFF;
